CompileFlags:
  CompilationDatabase: .
  Add:
    - -fno-stack-protector
    - -ffreestanding
    - -mno-red-zone
    - -fms-extensions
    - -nostdlib
    - -nostdinc
    - -nobuiltininc
    - -Wall
    - -Wextra
    - -Wno-variadic-macros
    - -Wno-pointer-to-int-cast
    - -Wno-int-to-pointer-cast
    - -Wno-compare-distinct-pointer-types
    - -Wno-enum-conversion
    - -Wno-enum-compare
    - -std=c11
    - -O2
    - -mno-mmx
    - -mno-sse
    - -mno-sse2
    - -Ideps/limine-protocol/include
    - -Ideps/uACPI/include
    - -Ikernel/include
    - -Ilibc/include
    - -I/usr/include/efi
    - -I/usr/include/efi/x86_64

Diagnostics:
  ClangTidy:
    Remove: [bugprone-unused-*, readability-redundant-*]