BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
PointerAlignment: Right
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
NamespaceIndentation: All
AccessModifierOffset: -2
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
IndentCaseLabels: true
AlignAfterOpenBracket: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
